<!-- navbar -->

<!-- header -->
<section>
  <div id="header">
    <div class=" header-inside ">
      <h1>Hungry?</h1>
      <h2>Order food from favourite restaurants.</h2>
      <button type="button" class="rounded-pill btn btn-primary order-now">Order Now</button>
    </div>
  </div>





</section>
<!-- features -->
<section id="features">

  <div class="row">
    <div class="col-lg-4 feature-box ms-auto">
      <img src="/img/payment.jpg" alt="payment">
      <h3>Exclusive online payment</h3>
      <p>So easy to use, even your dog could do it.</p>
    </div>
    <div class="col-lg-4 feature-box">
      <img src="/img/tracking.jpg" alt="">
      <h3>User friendly Tracking</h3>
      <p>We have all the dogs, the greatest dogs.</p>
    </div>
    <div class="col-lg-4 feature-box">
      <img src="/img/delivery.png" alt="">
      <h3>Free door Delivery</h3>
      <p>Find the love of your dog's life or your money back.</p>
    </div>
  </div>


</section>
<!-- menu -->
<section>

 
  
  <div class="container-fluid">
    <h2 class="center">Menu</h2>
    <!-- center bi ni....auto bhi nhi...justufy content center bhi nhi -->
    <!-- dynamic banenge menu card -->
    
    <div class="row ">
      <% dishes.forEach(function(dish){ %>
        <div class="card col-sm-4 col-lg-3 ">
          <img class="card-img-top" src="/img/<%= dish.image %>" alt="">
          <div class="card-body">
            <h5 class="card-title text-center"><%= dish.name %></h5>
            <p class="card-text text-center"><%= dish.size %></p>
            <button data-dish="<%=JSON.stringify(dish)%>"  class="btn btn-primary add-to-cart rounded-pill function-add">Add to cart</button>
            <span class="card-text mr-3">₹ <%= dish.price %></span>
          </div>
        </div>
     <% }) %>
      

    </div>

  </div>
</section>