<section class="cart">
   

    <%if(session.cart){ %>

    
    <div class="container-fluid order mx-auto">
        <div class="  w-50 mx-auto">
            <div class="d-flex border-bottom border-secondary">
                <img src="img/cart-black.png" height="50px" alt="" class="m-2">
                <h3 class="align-baseline p-2 m-2 d-block">Order Summarry</h1>
            </div>
            
                <div class="order-list m-3">
                    <% for(let dish of Object.values(session.cart.items) ){ %>
                       
                    <div class="d-flex m-1 p-2">
                        <img class="p-2" style="width:100px" src="img/<%= dish.item.image %>" alt="">
                        <div class="p-2">
                            <h5><%= dish.item.name %></h5>
                            <p class="text-center"><%= dish.item.size %></p>
                        </div>
                        <span class="flex-grow-1 text-center p-2"><%= dish.qty %></span>
                        <span class="fw-bold align-middle p-2">₹<%= dish.item.price * dish.qty %></span>
                    </div>
                  <% } %>
                </div>
                <hr>
                <div class="text-end">
                    <div class="float-end">
                        <span class="fw-bold fs-4">Total amount:</span>
                        <span class="ml-1 fw-bold fs-3 amount">₹<%= session.cart.totalPrice %></span>
                    </div>
                    <% if(messages.error){%>
                        <div class="alert alert-danger" role="alert">
                           <%= messages.error %>
                          </div>
                          <% } %>
                    <% if(user) {%>
                    <form action="/orders" method="POST" class="mt-3">
                        <!-- ye right mei kyu nhi jaa rhe???? -->
                        <input type="text" name="phone" class="form-control w-50 m-2" placeholder="Phone Number">
                        <input type="text" name="address" class="form-control w-50 m-2" placeholder="Address">
                      
                            <div>
                                <button type="submit" class="btn btn-primary rounded-pill order-now">Order Now</button>
                            </div>

                       

 


                    </form>
                    <%  } else {%>
                    <a href="/login" class="btn btn-primary rounded-pill order-now d-inline-block ">Login to continue</a> 
                    <% } %>


                </div>
                
        </div>

       
    </div>
    <% } else{ %>
 <div class="container-fluid empty-cart p-3 ">
        <h1 class="text-center m-2">Card empty 😕</h1>
        <p class="text-secondary text-center p-3 ">you probably haven't order anything.<br> order,go to home page.</p>
        <img class="mx-auto" style="display: block; height: 300px;" src="/img/emptycart.png" alt="">
        
        <a href="/" type="button p-3" style="display: block;" class="mx-auto btn btn-primary order-now rounded-pill"> Go Back </a>
    </div>

    <% }  %>
</section>